.menu-container {
    width: 100%;
    min-width: 430px;
    height: 100vh;
    padding: 10px;

    border: 1px solid var(--color-border);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    position: relative;
}

/* =======================
MENU LOGO
======================= */

.menu-logo {
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    position: sticky;
    top: 0;
    background-color: var(--color-bg);
    z-index: 999;

}

.menu-logo .logo-icon {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 50%;
    border: 1px solid var(--color-text-primary);
    background-color: var(--color-text-primary);
}

.logo-icon .icon {
    color: var(--color-bg);
    font-size: 30px;
}

.menu-logo h2 {
    font-weight: 800 !important;
    font-size: 20px;
    margin: 0;
    line-height: 1;
    /* color: red; */
}

.menu-logo h3 {
    font-size: 12px;
    letter-spacing: 4px;
}

/* =======================
MENU SEARCH
======================= */

.menu-input {
    width: 100%;
    max-width: 300px;
    position: relative;
    /* border-top: 1px solid var(--color-border); */
    margin-top: 10px;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-text-secondary);
}

.menu-input input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    outline: none;
}

/* =======================
CATEGORY BUTTONS
======================= */
.category-button {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.category-button button {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.category-button button:hover {
    background-color: var(--color-text-primary);
    color: var(--color-bg);
}

.category-button button.active {
    background-color: var(--color-text-primary);
    color: var(--color-bg);
}

/* =======================
MENU CATEGORY
======================= */

.menu-category {
    width: 100%;
    height: 69vh;
    overflow-y: auto;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.menu-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-price {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-text-secondary);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.menu-price p {
    border: 1px solid var(--color-border);
    border-radius: 16px;
    background-color: var(--color-border);
    color: var(--color-text-primary);
    font-size: 12px;
    gap: 8px;
    padding: 5px 10px;
    font-weight: normal;

    display: flex;
    align-items: center;
    justify-content: space-between;
}